@daily docker exec mail_clamd_1 clamd-update || wget --spider https://notify.shore.co.il/send?message=Clam%20update%20failed.
@daily docker exec mail_spamd_1 spamd-learn || wget --spider https://notify.shore.co.il/send?message=Spamd%20learn%20failed.
@daily docker exec mail_spamd_1 spamd-update || wget --spider https://notify.shore.co.il/send?message=Spamd%20update%20failed.
